<div class="row">
  <div class="col-md-12">
    <app-header></app-header> <!--Läd die Header Komponente-->
  </div>
</div>

<div class="row justify-content-center"> <!--Formatiert die Position der Komponenten Mittig-->
  <div class="col-md-3">
    <app-electricity-cost-calculator
      (submitForm)="onSubmitted($event)"
      (addCard)="onAdded()"
      (resetAllCards)="onResetAllCards()"
      [moreExtra]="moreExtra"
    >
    </app-electricity-cost-calculator> <!--Läd die ElectricityCostCalculator Komponente mit den Übergabeparametern um Werte auszutauschen -->
    <app-results
      *ngIf="showResult"
      [resultDay]="resultDay"
      [resultWeek]="resultWeek"
      [resultMonth]="resultMonth"
      [resultYear]="resultYear"
    ></app-results> <!--Läd die Results Komponente mit den Übergabeparametern um Werte auszutauschen -->
  </div>
  <div class="col-sm-3" *ngIf="card1 || card2"> <!-- Prüft ob die Karten sichtbar sein sollen und wo sie Auftauchen -->
    <app-extra
      (deleteCard)="onDeleted(1)"
      (submitForm)="onSubmittedExtra($event)"
      (deleteCardId)="calculateExtra(1)"
      (resetCardId)="onReset(1)"
      *ngIf="card1"
    ></app-extra>  <!--Läd eine Extra Komponente mit den Übergabeparametern um Werte auszutauschen -->
    <app-extra
      (deleteCard)="onDeleted(2)"
      (submitForm)="onSubmittedExtra($event)"
      (deleteCardId)="calculateExtra(2)"
      (resetCardId)="onReset(2)"
      *ngIf="card2"
    ></app-extra> <!--Läd eine Extra Komponente mit den Übergabeparametern um Werte auszutauschen -->
  </div>
  <div class="col-sm-3" *ngIf="card3 || card4"> <!-- Prüft ob die Karten sichtbar sein sollen und wo sie Auftauchen -->
    <app-extra
      (deleteCard)="onDeleted(3)"
      (submitForm)="onSubmittedExtra($event)"
      (deleteCardId)="calculateExtra(3)"
      (resetCardId)="onReset(3)"
      *ngIf="card3"
    ></app-extra> <!--Läd eine Extra Komponente mit den Übergabeparametern um Werte auszutauschen -->
    <app-extra
      (deleteCard)="onDeleted(4)"
      (submitForm)="onSubmittedExtra($event)"
      (deleteCardId)="calculateExtra(4)"
      (resetCardId)="onReset(4)"
      *ngIf="card4"
    ></app-extra> <!--Läd eine Extra Komponente mit den Übergabeparametern um Werte auszutauschen -->
  </div>
</div>
